/* Example tokeninput style #2: podio style */
ul.token-input-list-podio {
    overflow: hidden; 
    height: auto !important; 
    height: 1%;
    width: 469px;
    border: 1px solid #8496ba;
    cursor: text;
    font-size: 12px;
    font-family: Verdana;
    min-height: 1px;
    z-index: 999;
    margin: 0 0 0 120px;
    padding: 0 2px;
    background-color: #fff;
    list-style-type: none;
    clear: left;
    border: 1px solid #DFDFDF;
    border-radius: 5px 5px 5px 5px;
}
.new-project ul.token-input-list-podio {
    margin-left:0;
}

ul.token-input-list-podio li input {
    border: 0;
    width: 100px;
    padding: 3px 8px;
    background-color: white;
    margin: 2px 0;
    -webkit-appearance: caret;
}

li.token-input-token-podio {
    overflow: hidden; 
    height: auto !important; 
    color: #000;
    cursor: default;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    float: left;
    white-space: nowrap;
    position: relative;
    border: 1px solid #E1E1E1;
    color: #000000;
    font-size: 1.1rem;
    margin: 2px 2px 2px 0;
    padding: 1px 4px 3px 25px;
    background: url('avatar-thumb-default.png') no-repeat 4px 1px;
}

li.token-input-token-podio p {
    display: inline;
    padding: 0;
    margin: 0;
}

li.token-input-token-podio span {
    font-weight: bold;
    cursor: pointer;
    color: #999999;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin: 1px 5px 0;
    position: relative;
    top: 0;
}

li.token-input-selected-token-podio {
    border: 1px solid #3B5998;
}

li.token-input-input-token-podio {
    float: left;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

div.token-input-dropdown-podio {
    position: absolute;
    width: 473px;
    background-color: #fff;
    overflow: hidden;
    border-left: 1px solid #DFDFDF;
    border-right: 1px solid #DFDFDF;
    border-bottom: 1px solid #DFDFDF;
    border-top: 1px solid #DFDFDF;
    cursor: default;
    font-size: 11px;
    font-family: Verdana;
    z-index: 1;
}

div.token-input-dropdown-podio p {
    margin: 0;
    padding: 5px 0;
    color: #000000;
    border-bottom: 1px solid #EEEEEE;
    background: url('avatar-thumb-default.png') no-repeat 4px 5px;
}

div.token-input-dropdown-podio ul {
    margin: 0;
    padding: 0;
}

div.token-input-dropdown-podio ul li {
    background-color: #fff;
    padding: 0;
    margin: 0;
    list-style-type: none;
    cursor: pointer;
    clear: left;
}

div.token-input-dropdown-podio ul li.token-input-dropdown-item-podio {
    background-color: #fff;
}

div.token-input-dropdown-podio ul li.token-input-dropdown-item2-podio {
    background-color: #fff;
}

div.token-input-dropdown-podio ul li em {
    font-weight: bold;
    font-style: normal;
}

div.token-input-dropdown-podio ul li.token-input-selected-dropdown-item-podio {
    background-color: #E7F0F7;
    color: #fff;
}
#token-holder {
    display: none;
    position: relative;
}
#token-input-project_user_tokens {
    background: url('search-placeholder.png') no-repeat 0 0;
    width: 110px !important;
    padding-left: 20px;
}
.token-input-dropdown-podio li img {
    
}
.list-thumb {
    float: left;
    padding: 0;
    margin:5px 6px;
    display: block;
    width: 16px;
    height: 16px;
    
}
.token-input-token-podio img {
    position: absolute;
    left: 3px;
    top: 2px;
    display: block;
    height: 16px;
    width: 16px;
    border: none;
}
img.null {
   /* display: none; */
}